<div class="body card bg-primary mt-5" > <!--style="position: absolute; width: 98%; left: 1%"-->
    
    <form [formGroup]= "addressForm" class=" text-dark">
        <div>
            <h1 class="address"> Address </h1>
        </div>
        <div>
             <p class="card-text mx-auto">{{this.address.streetName}}</p>
             <p class="card-text mx-auto">{{this.address.city}}, {{this.address.state}}</p>
             <p class="card-text mx-auto">{{this.address.postalCode}}</p>
        </div>
        <div class = "addressCard">
            <div class="p-1 ms-5">
                <label class="labels col-md-3"for="streetName">Street</label>
                <input id="firstName col-md-3" type="text" placeholder="{{this.address.streetName}}" formControlName="streetName">
            </div>
            <div class="p-1 ms-5">
                <label class="labels col-md-3"for="city">City</label>
                <input id="city col-md-3" type="text"  formControlName="city">
            </div>
            <div class="p-1 ms-5">
                <label class="labels col-md-3"for="state">State</label>
                <input id="state col-md-3" type="text"  formControlName="state">
            </div>
            <div class="p-1 ms-5 mb-5">
                <label class="labels col-md-3"for="postalCode">Postal Code</label>
                <input id="postalCode col-md-3" type="text"  formControlName="postlCode">
            </div>
           
           
        </div>

        <button class="btn btn-secondary profile-button button"  type="submit" (click)="updateAddress()" [disabled]="!addressForm.valid">Save Changes</button> 
        <div class="align-content-end">
            <button class="btn btn-primary profile-button"  type="submit" (click)="addAddress()" >Add Address</button> 
        </div>

    </form>
</div>