<div class="container">
    <div class="main-body">
        <div class="row">
            <div id = "profileCard" class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class = "image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="166" height="166" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                  </svg>
                              </div>
                        </div>
                        <div class = "formContainer">
                            <form>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="username">
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="status">
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="optional-location">
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <button  type="button" class="btn btn-primary button" >Save Changes</button>
                                </div>                          
                                
                            </form>
                        </div>
                      
                        
                         
                        
                    </div>
                </div>
            </div>
            <div id = "formCard" class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="username">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="example@mail.com">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="(123) opt-tional">
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="Bay Area, San Francisco, CA">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="button" class="btn btn-primary px-4" value="Save Changes">
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
